@using CleanArchitecture.Application.ViewModels
@model UserListViewModel

<table class="table table-bordered" id="tableResult">
    <thead class="thead-dark">
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Member Since</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Email)
            </td>
            <td>
                @Html.DisplayFor(m => item.MemberSince)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <button class="btn btn-outline-primary btn-sm deactivate" data-id="@item.Id">Deactivate</button>
                }
                else
                {
                    <button class="btn btn-outline-secondary btn-sm activate" data-id="@item.Id">Activate</button>
                }
                <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
</table>