@using CleanArchitecture.Application.ViewModels
@model UserListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h4>User List</h4>
    </div>
</div>
<br />
<div>
    @if (Model.Users.Any())
    {
        <table class="table table-bordered" id="tableResult">
            <thead class="thead-dark">
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Member Since</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.MemberSince)
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <a class="btn btn-outline-primary btn-sm" asp-action="DeactivateUser" asp-route-id="@item.Id">Deactivate</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-secondary btn-sm" asp-action="AcivateUser" asp-route-id="@item.Id">Activate</a>
                        }
                        <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No Users</p>
    }
</div>

@section scripts{
    <script src="~/js/User.js"></script>
}