@using CleanArchitecture.Domain.Model
@using Microsoft.AspNetCore.Identity
@model CleanArchitecture.Application.ViewModels.ForumListModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<table class="table table-bordered table-hover" id="tableResult">
    <thead>
        <tr>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-2 text-center"><img src="/img/DefaultForum.png" style="width: 55px; padding-top: 45px;" /></div>
                        <div class="col-9 ">
                            <a style="font-size: 1.5em" asp-controller="Forum" asp-action="ForumDetails" asp-route-id="@forum.Id">@forum.Title</a>
                            @if (forum.HasRecentPost)
                            {
                                <div class="badge badge-success">New</div>
                            }
                            <br />
                            @forum.Description
                            <div class="text-muted">
                                @forum.NumberOfPosts Posts by
                                @forum.NumberOfUsers Users
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <br />
                                <button class="btn btn-outline-danger btn-sm delete" data-id="@forum.Id">Delete</button>
                                <a class="btn btn-outline-success btn-sm edit" asp-controller="Forum" asp-action="Edit" asp-route-id="@forum.Id">Edit</a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>